<!DOCTYPE html> 
<html lang="ru" ng-app="Travel&Test">
<head> 
<title>Построение модели идентификации регрессионным методом</title>


<meta charset = "utf-8"> 
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">

    <link href="style.css" rel="stylesheet" type="text/css">
</head> 
<body ng-controller="TheMainController"> 
<button onсlick='location.href="patient.html"' ng-click="zu()">Отобразить таблицу ФЭ</button>


    <table ng-if="t"><caption><h1>ТАБЛИЦА ФИЗИЧЕСКИХ ЭФФЕКТОВ</h1></caption>
<tr><th>Номер физэффекта</th><th>Наименование физэффекта</th><th>Описание физэффекта</th><th>Входные объекты</th><th>Выходные объекты</th><th>Внутренние объекты</th><th>Практическое применение</th><th>Литература</th><th>Список патентов</th><th></th></tr> <!--ряд с ячейками заголовков-->
<tr ng-repeat="t1 in t"><td>{{t1.IDFE}}</td><td>{{t1.name}}</td><td>{{t1.text}}</td><td>{{t1.textInp}}</td><td>{{t1.textOut}}</td><td>{{t1.textObj}}</td><td>{{t1.textApp}}</td><td>{{t1.textLit}}</td><td><select ng-model="p[t1.IDFE-1].model"  multiple><option ng-repeat="p1 in p[t1.IDFE-1].mas" value="{{p1.IDPat}}">{{p1.name}}</option></select></td><td><button ng-click="recog(p[t1.IDFE-1].model, t1.IDFE)">начать распознавание</button></td><td><button ng-click="fq(t1.IDFE)">Показать формулы по данному физэффекту</button></td></tr> <!--ряд с ячейками тела таблицы-->
</table>
    
<table ng-if="e.mas"><caption><h1>СПИСОК РАСПОЗНАННЫХ ФОРМУЛ</h1></caption><th>Номер формулы</th><th>Предисловие</th><th>Формула в формате LaTeX</th><th>Картинка</th>
    <tr ng-repeat="e1 in e.mas"><td>{{e1.IDEqu}}</td><td>{{e1.descEqu}}</td><td>{{e1.equ}}</td><td><img src={{e1.equPic}}></td><td><input type="checkbox" ng-model="e1.check"></td></tr></table>
    <button ng-click="feequ()" ng-if="e.mas">Добавить формулы в БД</button>
    
<table ng-if="f.mas"><caption><h1>ФОРМУЛЫ ПО ВЫБРАННОМУ ФИЗЭФФЕКТУ</h1></caption>
    <th>Номер формулы</th><th>Предисловие</th><th>Формула в формате LaTeX</th><th>Картинка</th>
    <tr ng-repeat="f1 in f.mas" ng-click="qp(f1.IDEqu)"><td>{{f1.IDEqu}}</td><td>{{f1.descEqu}}</td><td>{{f1.equ}}</td><td><img src={{f1.equPic}}></td><td><input type="checkbox" ng-model="f1.check"></td></tr></table>
    <button ng-if="f.mas" ng-click="del()">Удалить выбранные формулы из БД</button>
<table ng-if="d"><caption><h1>ОПИСАНИЕ ВЫБРАННОЙ ФОРМУЛЫ</h1></caption>
    <th>Номер формулы</th><th>Пояснение в формате LaTeX</th><th>Пояснение</th><th>Картинка</th>
    <tr ng-repeat="d1 in d"><td>{{d1.IDEqu}}</td><td>{{d1.descL}}</td><td>{{d1.descT}}</td><td><img src={{d1.descPic}}></td></tr></table>
  
</body> 
</html>